{{define "title"}}Important Dates{{end}}
{{define "styles"}}{{end}}
{{define "scripts"}}{{end}}
{{define "body"}}

<h2>April 26, 2016</h2>
Primary Election

<h2>August 1, 2016</h2>
<ul><li>Last day to circulate and file nomination papers</li></ul>

<h2>November 8, 2016</h2>
<ul><li>General Election</li></ul>

<h2>February 21, 2017 </h2>
<ul><li>First day to circulate and file nomination petitions</li></ul>  

<h2>May 14, 2017</h2>
<ul><li>Last day to circulate and file nomination petitions </li></ul>

<h2>March 15, 2017</h2>
<ul><li>First day to circulate and file nomination papers</li></ul> 

<h2>March 29, 2017</h2>
<ul><li>Last day to withdraw nomination petition</li></ul>   

<h2>May 16, 2017</h2>
<ul><li>Primary election</li></ul> 


{{end}}
