{{define "title"}}Resource Awareness Philadelphia{{end}}
{{define "styles"}}{{end}}
{{define "scripts"}}{{end}}
{{define "body"}}
<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-xs-12 col-sm-11">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>
    <div class="jumbotron">
      <h1>Welcome to Elect Me</h1>
      <p>Brief explanation of elect me</p>
    </div>
    <div class="row">
      <div class="col-xs-6 col-lg-4 col-offset-lg-1">
        <h2>Position Name</h2>
        <p>Short Description text. We can use this to tell some basic info about the position.</p>
        <p><a class="btn btn-default" href="/detail.html" role="button">View details »</a></p>
      </div>
    </div>
  </div>
</div>
{{end}}
