{{define "title"}}Position Name{{end}}
{{define "styles"}}{{end}}
{{define "scripts"}}{{end}}
{{define "body"}}
<p>Position Details</p>
<table width="468.0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td valign="top">
                <p>
                    Position
                </p>
            </td>
            <td valign="top">
                <p>
                    Description
                </p>
            </td>
            <td valign="top">
                <p>
                    Requirements
                </p>
            </td>
            <td valign="top">
                <p>
                    Salary
                </p>
            </td>
            <td valign="top">
                <p>
                    Petition signatures
                </p>
            </td>
            <td valign="top">
                <p>
                    Filing Fee
                </p>
            </td>
            <td valign="top">
                <p>
                    Min Age
                </p>
            </td>
            <td valign="top">
                <p>
                    Residency in District
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    Committee Person
                </p>
            </td>
            <td valign="top">
                <p>
                    Committee people have a core responsibility to help “get out the vote” for their political party.
                </p>
            </td>
            <td valign="top">
            </td>
            <td valign="top">
                <p>
                    $0
                </p>
            </td>
            <td valign="top">
                <p>
                    10
                </p>
            </td>
            <td valign="top">
                <p>
                    $0
                </p>
            </td>
            <td valign="top">
                <p>
                    18
                </p>
            </td>
            <td valign="top">
                <p>
                    Registered in division at least 30 days before election
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    Judge of Elections
                </p>
            </td>
            <td valign="top">
                <p>
                    Part of election board
                </p>
            </td>
            <td valign="top">
                <p>
                    Live in division
                </p>
            </td>
            <td valign="top">
                <p>
                    $100
                </p>
            </td>
            <td valign="top">
                <p>
                    10
                </p>
            </td>
            <td valign="top">
                <p>
                    $0
                </p>
            </td>
            <td valign="top">
                <p>
                    18
                </p>
            </td>
            <td valign="top">
                <p>
                    Registered in division at least 30 days before election
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    Majority Inspector
                </p>
            </td>
            <td valign="top">
                <p>
                    Part of election board
                </p>
            </td>
            <td valign="top">
                <p>
                    Live in division
                </p>
            </td>
            <td valign="top">
                <p>
                    $95
                </p>
            </td>
            <td valign="top">
                <p>
                    5
                </p>
            </td>
            <td valign="top">
                <p>
                    $0
                </p>
            </td>
            <td valign="top">
                <p>
                    18
                </p>
            </td>
            <td valign="top">
                <p>
                    Registered in division at least 30 days before election
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    Minority Inspector
                </p>
            </td>
            <td valign="top">
                <p>
                    Part of election board
                </p>
            </td>
            <td valign="top">
                <p>
                    Live in division
                </p>
            </td>
            <td valign="top">
                <p>
                    $95
                </p>
            </td>
            <td valign="top">
                <p>
                    5
                </p>
            </td>
            <td valign="top">
                <p>
                    $0
                </p>
            </td>
            <td valign="top">
                <p>
                    18
                </p>
            </td>
            <td valign="top">
                <p>
                    Registered in division at least 30 days before election
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    District Attorney
                </p>
            </td>
            <td valign="top">
            </td>
            <td valign="top">
            </td>
            <td valign="top">
                <p>
                    172,271
                </p>
            </td>
            <td valign="top">
            </td>
            <td valign="top">
            </td>
            <td valign="top">
                <p>
                    25
                </p>
            </td>
            <td valign="top">
                <p>
                    1 year; 2 years as a lawyer
                </p>
            </td>
        </tr>
    </tbody>
</table>

{{end}}
